h1 {
    text-align: center;
    color: plum;
    font-family: cursive;
}
img {
    border-radius: 100px;
    text-align: center;
}
h3 {
    color: blue;
    padding-top: 50px;
} 
#personal-links {
    padding-top: 50px;
    
}